/*░░░ █████████░░░░░░ █████████████░░░░░ █████████████░░░
 ░░░ █████████████░░░█ ███         ███░░█ ███         ███░
  ░░ ███         ███░░█ ███░░░░░░░█ ███░░█ ███░░░░░░░█ ███░
   ░█ ███░░░░░░░█ ███░░█ █████████████ ░░░█ █████████████ ░░
    ░█ ███████████████░░█ ███         ░░░░░█ ███         ░░░░
     ░█ ███         ███░░█ ███░░░░░░░░░░░░░░█ ███░░░░░░░░░░░░░
      ░█ ███░░░░░░░█ ███░░█ ███░░░░░░░░░░░░░░█ ███░░░░░░░░░░░░░
       ░█ ███░░░░░░░█ ███░░█ ███░░░░░░░░░░░░░░█ ███░░░░░░░░░░░░░
        ░█   ░░░░░░░░█   ░░░█   ░░░░░░░░░░░░░░░█   ░░░░░░░░░░░░░░
░░░░ █████████░░░░░░░░░░░░ █████░░░░░░░░░░░░░ █████░░░░░░░░ ███████████████░
 ░░ ███       ███░░░░░░░░ ███   ███░░░░░░░░░ ███   ███░░░░░█       ███     ░░
  ░█ ███░░░░░█ ███░░░░░░ ███ ░░█   ███░░░░░ ███ ░░█   ███░░░░░░░░░█ ███░░░░░░░
   ░█ ███████████ ░░░░░░ ███░░░░░░█  ███░░░ ███░░░░░░█  ███░░░░░░░░█ ███░░░░░░░
    ░█ ███      ███░░░░░█ ███░░░░░░░█ ███░░█ ███░░░░░░░█ ███░░░░░░░░█ ███░░░░░░░
     ░█ ███░░░░█  ███░░░░█  ███░░░░░░ ███░░░█  ███░░░░░░ ███░░░░░░░░░█ ███░░░░░░░
      ░█ ███░░░░░█  ███░░░░█   ███░░ ███░░░░░░█   ███░░ ███░░░░░░░░░░░█ ███░░░░░░░
       ░█ ███░░░░░░█  ███░░░░░█   █████ ░░░░░░░░░█   █████ ░░░░░░░░░░░░█ ███░░░░░░░
        ░█   ░░░░░░░░█   ░░░░░░░░█     ░░░░░░░░░░░░░█     ░░░░░░░░░░░░░░█   ░░░░░░*/

#libe-labo-app-wrapper {
  height: 100%;
  width: 100%;
}

.parispop {
  height: 100%;
  width: 100%;
}

.parispop__map-wrapper {
  height: 100%;
  width: 100%;
}

.parispop__loading {
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.parispop__error {
  height: 100%;
  width: 100%;
  background: aliceblue;
}

.parispop__map {
  height: 100%;
  width: 100%;
  background: limegreen;
}

.parispop__caption {
  height: 100%;
  width: 100%;
}

.parispop__filters {
  height: 100%;
  width: 100%;
}

.parispop__intro {
  height: 100%;
  width: 100%;
}

.parispop__cards {
  height: 100%;
  width: 100%;
}

/* * * * * * * * * * * * * * 
 *
 * States
 *
 * * * * * * * * * * * * * */

 /* Default */
.parispop .parispop__loading,
.parispop .parispop__error {
  display: none;
}

/* Loading */
.parispop.parispop_loading .parispop__loading {
  display: flex;
}

.parispop.parispop_loading .parispop__error,
.parispop.parispop_loading .parispop__map {
  display: none;
}

/* Error */
.parispop.parispop_error .parispop__error {
  display: block;
}

.parispop.parispop_error .parispop__loading,
.parispop.parispop_error .parispop__map {
  display: none;
}

/*░░░░░░ █████████░░░░░░░░ █████░░░░░░░░ ████░░░░░░░░░░░░ ████░░░ █████████████░░░░░░░░░░░░
 ░░░░░ ███        ░░░░░░░ ███   ███░░░░░█ ██████░░░░░░░░ ██████░░█ ███         ███░░░░░░░░░░
  ░░░ ███ ░░░░░░░░░░░░░░ ███ ░░█   ███░░░█ ███  ███░░░░ ███  ███░░█ ███░░░░░░░█ ███░░░░░░░░░░
   ░░ ███░░░░░░░░░░░░░░░ ███░░░░░░█  ███░░█ ████   ███ ███ ░█ ███░░█ █████████████ ░░░░░░░░░░░
    ░█ ███░░░░░░░░░░░░░░█ ███░░░░░░░█ ███░░█ ███░░█   ███ ░░░█ ███░░█ ███         ░░░░░░░░░░░░░
     ░█  ███░░░░░░░░░░░░░█  ███░░░░░░ ███░░░█ ███░░░░█   ░░░░░█ ███░░█ ███░░░░░░░░░░░░░░ ███████
      ░░█   ███░░░░░░░░░░░░█   ███░░ ███░░░░░█ ███░░░░░░░░░░░░░█ ███░░█ ███░░░░░░░░░░░░░█       ░
       ░░░░█    █████████░░░░░█   █████ ░░░░░░█ ███░░░░░░░░░░░░░█ ███░░█ ███░░░░░░░░░░░░░░░░░░░░░░
        ░░░░░░░█         ░░░░░░░░█     ░░░░░░░░█   ░░░░░░░░░░░░░░█   ░░░█   ░░░░░░░░░░░░░░░░░░░░░░░
░░░░░░░ █████░░░░░░░░ █████░░░░░ ███░░░ ███████████████░░░ █████░░░░░ ███░░░ ███████████████░░░░░░ ███████████░░░
 ░░░░░ ███   ███░░░░░█ ██████░░░█ ███░░█ ███           ░░░█ ██████░░░█ ███░░█       ███     ░░░░░ ███         ███░
  ░░░ ███ ░░█   ███░░░█ ███ ███░░█ ███░░█ ███░░░░░░░░░░░░░░█ ███ ███░░█ ███░░░░░░░░█ ███░░░░░░░░░█  ███░░░░░░█   ░░
   ░░ ███░░░░░░█  ███░░█ ███  ███░█ ███░░█ ███████████░░░░░░█ ███  ███░█ ███░░░░░░░░█ ███░░░░░░░░░░█    ███░░░░░░░░░
    ░█ ███░░░░░░░█ ███░░█ ████  ████ ███░░█ ███       ░░░░░░░█ ████  ████ ███░░░░░░░░█ ███░░░░░░░░░░░░░█    ███░░░░░░
     ░█  ███░░░░░░ ███░░░█ ███░█  ███ ███░░█ ███░░░░░░░░░░░░░░█ ███░█  ███ ███░░░░░░░░█ ███░░░░░░░░░░░░░░░░█    ███░░░
      ░░█   ███░░ ███░░░░░█ ███░░█  ██████░░█ ███░░░░░░░░░░░░░░█ ███░░█  ██████░░░░░░░░█ ███░░░░░░░░░ ███░░░░░░█  ███░░
       ░░░░█   █████ ░░░░░░█ ███░░░█  █████░░█ ███████████████░░█ ███░░░█  █████░░░░░░░░█ ███░░░░░░░░█   ███████████ ░░░
        ░░░░░░█     ░░░░░░░░█   ░░░░░█     ░░░█               ░░░█   ░░░░░█     ░░░░░░░░░█   ░░░░░░░░░░░█           ░░░*/






/*░░░ ███████████░░░░░ ███████████████░░░░░░ █████████░░░░░░ █████░░░░░ ███░░░ ████████████░░░░░░░░░░░░░
 ░░░ ███         ███░░█       ███     ░░░░░ █████████████░░░█ ██████░░░█ ███░░█ ███        ███░░░░░░░░░░░
  ░░█  ███░░░░░░█   ░░░░░░░░░█ ███░░░░░░░░░ ███         ███░░█ ███ ███░░█ ███░░█ ███░░░░░░█  ███░░░░░░░░░░
   ░░░█    ███░░░░░░░░░░░░░░░░█ ███░░░░░░░░█ ███░░░░░░░█ ███░░█ ███  ███░█ ███░░█ ███░░░░░░░█ ███░░░░░░░░░░
    ░░░░░░█    ███░░░░░░░░░░░░░█ ███░░░░░░░░█ ███████████████░░█ ████  ████ ███░░█ ███░░░░░░░█ ███░░░░░░░░░░
     ░░░░░░░░░█    ███░░░░░░░░░░█ ███░░░░░░░░█ ███         ███░░█ ███░█  ███ ███░░█ ███░░░░░░░█ ███░░ ███████
      ░░ ███░░░░░░█  ███░░░░░░░░░█ ███░░░░░░░░█ ███░░░░░░░█ ███░░█ ███░░█  ██████░░█ ███░░░░░░░ ███░░█       ░
       ░█   ███████████ ░░░░░░░░░░█ ███░░░░░░░░█ ███░░░░░░░█ ███░░█ ███░░░█  █████░░█ ████████████ ░░░░░░░░░░░░
        ░░░█           ░░░░░░░░░░░░█   ░░░░░░░░░█   ░░░░░░░░█   ░░░█   ░░░░░█     ░░░█            ░░░░░░░░░░░░░░
░░░░░ █████████░░░░░░ ███░░░░░░░░░░░░░░░░░░░░ █████░░░░░░░░ █████░░░░░ ███░░░ ███████████████░
 ░░░ █████████████░░░█ ███░░░░░░░░░░░░░░░░░░ ███   ███░░░░░█ ██████░░░█ ███░░█ ███           ░░
  ░░ ███         ███░░█ ███░░░░░░░░░░░░░░░░ ███ ░░█   ███░░░█ ███ ███░░█ ███░░█ ███░░░░░░░░░░░░░
   ░█ ███░░░░░░░█ ███░░█ ███░░░░░░░░░░░░░░░ ███░░░░░░█  ███░░█ ███  ███░█ ███░░█ ███████████░░░░░
    ░█ ███████████████░░█ ███░░░░░░░░░░░░░░█ ███░░░░░░░█ ███░░█ ████  ████ ███░░█ ███       ░░░░░░
     ░█ ███         ███░░█ ███░░░░░░░░░░░░░░█  ███░░░░░░ ███░░░█ ███░█  ███ ███░░█ ███░░░░░░░░░░░░░
      ░█ ███░░░░░░░█ ███░░█ ███░░░░░░░░░░░░░░░█   ███░░ ███░░░░░█ ███░░█  ██████░░█ ███░░░░░░░░░░░░░
       ░█ ███░░░░░░░█ ███░░█ ███████████████░░░░░█   █████ ░░░░░░█ ███░░░█  █████░░█ ███████████████░
        ░█   ░░░░░░░░█   ░░░█               ░░░░░░░░█     ░░░░░░░░█   ░░░░░█     ░░░█               */

/* * * * * * * * * * * * * * 
 *
 * Loading icon
 *
 * * * * * * * * * * * * * */

.lblb-loading-icon {
  display: inline-block;
}

.lblb-loading-icon img {
  width: 2rem;
}












