/*░░░ █████████░░░░░░ █████████████░░░░░ █████████████░░░
 ░░░ █████████████░░░█ ███         ███░░█ ███         ███░
  ░░ ███         ███░░█ ███░░░░░░░█ ███░░█ ███░░░░░░░█ ███░
   ░█ ███░░░░░░░█ ███░░█ █████████████ ░░░█ █████████████ ░░
    ░█ ███████████████░░█ ███         ░░░░░█ ███         ░░░░
     ░█ ███         ███░░█ ███░░░░░░░░░░░░░░█ ███░░░░░░░░░░░░░
      ░█ ███░░░░░░░█ ███░░█ ███░░░░░░░░░░░░░░█ ███░░░░░░░░░░░░░
       ░█ ███░░░░░░░█ ███░░█ ███░░░░░░░░░░░░░░█ ███░░░░░░░░░░░░░
        ░█   ░░░░░░░░█   ░░░█   ░░░░░░░░░░░░░░░█   ░░░░░░░░░░░░░░
░░░░ █████████░░░░░░░░░░░░ █████░░░░░░░░░░░░░ █████░░░░░░░░ ███████████████░
 ░░ ███       ███░░░░░░░░ ███   ███░░░░░░░░░ ███   ███░░░░░█       ███     ░░
  ░█ ███░░░░░█ ███░░░░░░ ███ ░░█   ███░░░░░ ███ ░░█   ███░░░░░░░░░█ ███░░░░░░░
   ░█ ███████████ ░░░░░░ ███░░░░░░█  ███░░░ ███░░░░░░█  ███░░░░░░░░█ ███░░░░░░░
    ░█ ███      ███░░░░░█ ███░░░░░░░█ ███░░█ ███░░░░░░░█ ███░░░░░░░░█ ███░░░░░░░
     ░█ ███░░░░█  ███░░░░█  ███░░░░░░ ███░░░█  ███░░░░░░ ███░░░░░░░░░█ ███░░░░░░░
      ░█ ███░░░░░█  ███░░░░█   ███░░ ███░░░░░░█   ███░░ ███░░░░░░░░░░░█ ███░░░░░░░
       ░█ ███░░░░░░█  ███░░░░░█   █████ ░░░░░░░░░█   █████ ░░░░░░░░░░░░█ ███░░░░░░░
        ░█   ░░░░░░░░█   ░░░░░░░░█     ░░░░░░░░░░░░░█     ░░░░░░░░░░░░░░█   ░░░░░░*/

#libe-labo-app-wrapper {
  height: 100%;
  width: 100%;
}

.parispop {
  height: 100%;
  width: 100%;
  position: relative;
  overflow-x: hidden;
}

.parispop__loading {
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.parispop__error {
  height: 100%;
  width: 100%;
  background: aliceblue;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.parispop__error
  .lblb-paragraph {
    margin-bottom: 10rem;
}

.parispop__map-panel {
  height: 100%;
  width: 100%;
  background: limegreen;
}

.parispop__caption-panel {
  z-index: 10;
  position: absolute;
  bottom: 2rem;
  left: 2rem;
}

.parispop__filters-panel {
  z-index: 11;
  position: absolute;
  top: 2rem;
  right: 2rem;
  background: white;
  box-shadow: 0 .25rem 0 0 rgba(33, 33, 33, .3);
  padding: .5rem;
}

.parispop__intro-overlay {
  z-index: 12;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  background: #212121;
  opacity: 0;
  transition: opacity 200ms;
}

.parispop__cards-overlay {
  z-index: 13;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  background: #212121;
  opacity: 0;
  transition: opacity 200ms;
}

.parispop__app-logo {
  z-index: 14;
  cursor: pointer;
  position: absolute;
  top: 2rem;
  left: 2rem;
  background: white;
  box-shadow: 0 .25rem 0 0 rgba(33, 33, 33, .3);
  padding: 1rem;
}

.parispop__intro-panel {
  z-index: 15;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 50rem;
  max-width: 100%;
  background: white;
  transform: translate(-100%, 0);
  transition: transform 200ms;
}

.parispop__cards-panel {
  z-index: 16;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 50rem;
  max-width: 100%;
  background: white;
  transform: translate(100%, 0);
  transition: transform 200ms;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

/* * * * * * * * * * * * * * 
 *
 * Media queries
 *
 * * * * * * * * * * * * * */

@media screen and (max-width: 63rem) {
  .parispop__app-logo {
    top: 1rem;
    left: 1rem;
  }

  .parispop__caption-panel {
    display: none;
  }

  .parispop__filters-panel {
    top: unset;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
  }
}

@media screen and (max-width: 40rem) {
  .parispop__app-logo {
    top: .5rem;
    left: .5rem;
  }

  .parispop__filters-panel {
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 -.25rem 0 0 rgba(33, 33, 33, .3);
  }
}

/* * * * * * * * * * * * * * 
 *
 * States
 *
 * * * * * * * * * * * * * */

 /* Default */
.parispop
  .parispop__loading,
.parispop
  .parispop__error {
    display: none;
}

/* Loading */
.parispop.parispop_loading
  .parispop__loading {
    display: flex;
}

.parispop.parispop_loading
  .parispop__error,
.parispop.parispop_loading
  .parispop__map-panel {
    display: none;
}

/* Error */
.parispop.parispop_error
  .parispop__error {
    display: flex;
}

.parispop.parispop_error
  .parispop__loading,
.parispop.parispop_error
  .parispop__map-panel {
    display: none;
}

/* Intro page */
.parispop.parispop_intro-page
  .parispop__intro-panel {
    box-shadow: .25rem 0 0 0 rgba(33, 33, 33, .3);
    transform: translate(0, 0);
}

.parispop.parispop_intro-page
  .parispop__intro-overlay {
    width: 100%;
    height: 100%;
    opacity: .5;
}

/* Suggest intro */
.parispop.parispop_suggest-intro
  .parispop__intro-panel {
    box-shadow: .25rem 0 0 0 rgba(33, 33, 33, .3);
    transform: translate(-90%, 0);
}

/* Cards page */
.parispop.parispop_cards-page
  .parispop__cards-panel {
    box-shadow: -.25rem 0 0 0 rgba(33, 33, 33, .3);
    transform: translate(0, 0);
}

.parispop.parispop_cards-page
  .parispop__cards-overlay {
    width: 100%;
    height: 100%;
    opacity: .5;
}

/*░░░░░░ █████████░░░░░░░░ █████░░░░░░░░ ████░░░░░░░░░░░░ ████░░░ █████████████░░░░░░░░░░░░
 ░░░░░ ███        ░░░░░░░ ███   ███░░░░░█ ██████░░░░░░░░ ██████░░█ ███         ███░░░░░░░░░░
  ░░░ ███ ░░░░░░░░░░░░░░ ███ ░░█   ███░░░█ ███  ███░░░░ ███  ███░░█ ███░░░░░░░█ ███░░░░░░░░░░
   ░░ ███░░░░░░░░░░░░░░░ ███░░░░░░█  ███░░█ ████   ███ ███ ░█ ███░░█ █████████████ ░░░░░░░░░░░
    ░█ ███░░░░░░░░░░░░░░█ ███░░░░░░░█ ███░░█ ███░░█   ███ ░░░█ ███░░█ ███         ░░░░░░░░░░░░░
     ░█  ███░░░░░░░░░░░░░█  ███░░░░░░ ███░░░█ ███░░░░█   ░░░░░█ ███░░█ ███░░░░░░░░░░░░░░ ███████
      ░░█   ███░░░░░░░░░░░░█   ███░░ ███░░░░░█ ███░░░░░░░░░░░░░█ ███░░█ ███░░░░░░░░░░░░░█       ░
       ░░░░█    █████████░░░░░█   █████ ░░░░░░█ ███░░░░░░░░░░░░░█ ███░░█ ███░░░░░░░░░░░░░░░░░░░░░░
        ░░░░░░░█         ░░░░░░░░█     ░░░░░░░░█   ░░░░░░░░░░░░░░█   ░░░█   ░░░░░░░░░░░░░░░░░░░░░░░
░░░░░░░ █████░░░░░░░░ █████░░░░░ ███░░░ ███████████████░░░ █████░░░░░ ███░░░ ███████████████░░░░░░ ███████████░░░
 ░░░░░ ███   ███░░░░░█ ██████░░░█ ███░░█ ███           ░░░█ ██████░░░█ ███░░█       ███     ░░░░░ ███         ███░
  ░░░ ███ ░░█   ███░░░█ ███ ███░░█ ███░░█ ███░░░░░░░░░░░░░░█ ███ ███░░█ ███░░░░░░░░█ ███░░░░░░░░░█  ███░░░░░░█   ░░
   ░░ ███░░░░░░█  ███░░█ ███  ███░█ ███░░█ ███████████░░░░░░█ ███  ███░█ ███░░░░░░░░█ ███░░░░░░░░░░█    ███░░░░░░░░░
    ░█ ███░░░░░░░█ ███░░█ ████  ████ ███░░█ ███       ░░░░░░░█ ████  ████ ███░░░░░░░░█ ███░░░░░░░░░░░░░█    ███░░░░░░
     ░█  ███░░░░░░ ███░░░█ ███░█  ███ ███░░█ ███░░░░░░░░░░░░░░█ ███░█  ███ ███░░░░░░░░█ ███░░░░░░░░░░░░░░░░█    ███░░░
      ░░█   ███░░ ███░░░░░█ ███░░█  ██████░░█ ███░░░░░░░░░░░░░░█ ███░░█  ██████░░░░░░░░█ ███░░░░░░░░░ ███░░░░░░█  ███░░
       ░░░░█   █████ ░░░░░░█ ███░░░█  █████░░█ ███████████████░░█ ███░░░█  █████░░░░░░░░█ ███░░░░░░░░█   ███████████ ░░░
        ░░░░░░█     ░░░░░░░░█   ░░░░░█     ░░░█               ░░░█   ░░░░░█     ░░░░░░░░░█   ░░░░░░░░░░░█           ░░░*/

/* * * * * * * * * * * * * * 
 *
 * Filters block
 *
 * * * * * * * * * * * * * */

.parispop__filters-block-head {
  cursor: pointer;
}

.parispop__filters-block-active-filter {
  display: none;
}

.parispop__filters-list {
  display: none;
}

/* States */
.parispop__filters-block.parispop__filters-block_active
  .parispop__filters-list {
    display: block;
}

.parispop__filters-block.parispop__filters-block_with-filter
  .parispop__filters-block-title {
    display: none;
}

.parispop__filters-block.parispop__filters-block_with-filter
  .parispop__filters-block-active-filter {
    display: block;
}

/* * * * * * * * * * * * * * 
 *
 * Caption block
 *
 * * * * * * * * * * * * * */

.parispop__caption-panel {
  background: white;
  box-shadow: 0 .25rem 0 0 rgba(33, 33, 33, .3);
  padding: .5rem;
}

.parispop__caption-field {
  display: flex;
  align-items: center;
  padding: .25rem 0;
}

.parispop__caption-field
  .parispop__map-marker {
    margin-right: .5rem;
    cursor: default;
}

.parispop__caption-field
  .parispop__map-marker:hover {
    box-shadow: none;
}

/* * * * * * * * * * * * * * 
 *
 * Paris pop map
 *
 * * * * * * * * * * * * * */

.parispop__map {
  background: violet;
  width: 100%;
  height: 100%;
}

/* Dirty fix for mapbox-gl mess */
.parispop__map
  .mapboxgl-marker {
    z-index: 0 !important;
}

.parispop__map
  .mapboxgl-marker:hover {
    z-index: 1 !important;
}
/* End of dirty fix for mapbox-gl mess */

.parispop__map-marker {
  position: relative;
  width: 1rem;
  height: 1rem;
  border-radius: 1rem;
  cursor: pointer;
  transition: opacity 200ms;
}

.parispop__map-marker:hover {
  box-shadow: 0 0 1rem 0 rgba(33, 33, 33, .3);
}

.parispop__map-marker_exists {
  background-color: #8B1002;
}

.parispop__map-marker_not-exists {
  background-color: #FFFFFF;
  box-shadow: inset 0 0 0 .25rem #8B1002;
}

.parispop__map-marker_not-exists:hover {
  box-shadow: inset 0 0 0 .25rem #8B1002,
    0 0 1rem 0 rgba(33, 33, 33, .3);
}

.parispop__map-marker_out-filter {
  opacity: 0.2;
}

.parispop__map-marker-tooltip {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 50%;
  transform: translate(-50%, -100%);
  box-shadow: 0 0 1rem 0 rgba(33, 33, 33, .3);
  width: 10rem;
  padding: .5rem;
  background: #FFFFFF;
  display: none;
  justify-content: center;
}

.parispop__map-marker:hover
  .parispop__map-marker-tooltip {
    display: flex;
}

.parispop__map-marker-tooltip
  .lblb-annotation {
    text-align: center;
}

/* * * * * * * * * * * * * * 
 *
 * Paris pop card
 *
 * * * * * * * * * * * * * */
.parispop__card {
  position: relative;
}

.parispop__card-close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  border: none;
  background: rgba(255, 255, 255, .4)
    url('/assets/close-icon_40.svg');
  height: 2.5rem;
  width: 2.5rem;
  cursor: pointer;
  transition: background-color 200ms;
}

.parispop__card-close:hover {
  background-color: rgba(255, 255, 255, 1);
}

.parispop__card-illustration {
  display: flex;
  margin-bottom: 2rem;
  justify-content: center;
  background: #212121;
}

.parispop__card-illustration img {
  max-height: 35rem;
}

.parispop__card-slug,
.parispop__card-title,
.parispop__card-share,
.parispop__card-content,
.parispop__card-signature,
.parispop__card-read-also,
.parispop__card-sources {
  margin-left: 2rem;
  margin-right: 2rem; 
  margin-bottom: 1rem;
}

.parispop__card-content span[data-source] a {
  border-bottom: 1px solid rgba(204, 204, 204, 0);
}

.parispop__card-content span[data-source] a:hover {
  border-bottom-color: rgba(204, 204, 204, 1);
}

.parispop__card-content span[data-source] a:active {
  background: #F5F5F5;
}

.parispop__card-content span[data-source] sup {
  color: #666;
  text-decoration: underline;
}

.parispop__card-signature,
.parispop__card-read-also {
  margin-bottom: 2rem;
}

.parispop__card-read-also .lblb-block-title,
.parispop__card-sources .lblb-block-title {
  margin-bottom: 1rem;
}

.parispop__card-source {
  margin-bottom: .5rem;
}

@media screen and (max-width: 63rem) {
  .parispop__card-close {
    top: 1rem;
    right: 1rem;
  }

  .parispop__card-illustration img {
    max-height: 30rem;
  }

  .parispop__card-slug,
  .parispop__card-title,
  .parispop__card-share,
  .parispop__card-content,
  .parispop__card-signature,
  .parispop__card-read-also,
  .parispop__card-sources {
    margin-left: 1rem;
    margin-right: 1rem; 
  }
}

@media screen and (max-width: 50rem) {
  .parispop__card-close {
    right: unset;
    left: 1rem;
    background-image: url('/assets/back-icon_40.svg');
  }
}

@media screen and (max-width: 40rem) {
  .parispop__card-close {
    top: .5rem;
    left: .5rem;
  }

  .parispop__card-illustration {
    margin-bottom: 1rem;
  }

  .parispop__card-illustration img {
    max-height: 20rem;
  }

  .parispop__card-slug,
  .parispop__card-title,
  .parispop__card-share,
  .parispop__card-content,
  .parispop__card-signature,
  .parispop__card-read-also,
  .parispop__card-sources {
    margin-left: .5rem;
    margin-right: .5rem; 
    margin-bottom: 1rem;
  }

  .parispop__card-signature,
  .parispop__card-read-also {
    margin-bottom: 2rem;
  }
}

/*░░░ ███████████░░░░░ ███████████████░░░░░░ █████████░░░░░░ █████░░░░░ ███░░░ ████████████░░░░░░░░░░░░░
 ░░░ ███         ███░░█       ███     ░░░░░ █████████████░░░█ ██████░░░█ ███░░█ ███        ███░░░░░░░░░░░
  ░░█  ███░░░░░░█   ░░░░░░░░░█ ███░░░░░░░░░ ███         ███░░█ ███ ███░░█ ███░░█ ███░░░░░░█  ███░░░░░░░░░░
   ░░░█    ███░░░░░░░░░░░░░░░░█ ███░░░░░░░░█ ███░░░░░░░█ ███░░█ ███  ███░█ ███░░█ ███░░░░░░░█ ███░░░░░░░░░░
    ░░░░░░█    ███░░░░░░░░░░░░░█ ███░░░░░░░░█ ███████████████░░█ ████  ████ ███░░█ ███░░░░░░░█ ███░░░░░░░░░░
     ░░░░░░░░░█    ███░░░░░░░░░░█ ███░░░░░░░░█ ███         ███░░█ ███░█  ███ ███░░█ ███░░░░░░░█ ███░░ ███████
      ░░ ███░░░░░░█  ███░░░░░░░░░█ ███░░░░░░░░█ ███░░░░░░░█ ███░░█ ███░░█  ██████░░█ ███░░░░░░░ ███░░█       ░
       ░█   ███████████ ░░░░░░░░░░█ ███░░░░░░░░█ ███░░░░░░░█ ███░░█ ███░░░█  █████░░█ ████████████ ░░░░░░░░░░░░
        ░░░█           ░░░░░░░░░░░░█   ░░░░░░░░░█   ░░░░░░░░█   ░░░█   ░░░░░█     ░░░█            ░░░░░░░░░░░░░░
░░░░░ █████████░░░░░░ ███░░░░░░░░░░░░░░░░░░░░ █████░░░░░░░░ █████░░░░░ ███░░░ ███████████████░
 ░░░ █████████████░░░█ ███░░░░░░░░░░░░░░░░░░ ███   ███░░░░░█ ██████░░░█ ███░░█ ███           ░░
  ░░ ███         ███░░█ ███░░░░░░░░░░░░░░░░ ███ ░░█   ███░░░█ ███ ███░░█ ███░░█ ███░░░░░░░░░░░░░
   ░█ ███░░░░░░░█ ███░░█ ███░░░░░░░░░░░░░░░ ███░░░░░░█  ███░░█ ███  ███░█ ███░░█ ███████████░░░░░
    ░█ ███████████████░░█ ███░░░░░░░░░░░░░░█ ███░░░░░░░█ ███░░█ ████  ████ ███░░█ ███       ░░░░░░
     ░█ ███         ███░░█ ███░░░░░░░░░░░░░░█  ███░░░░░░ ███░░░█ ███░█  ███ ███░░█ ███░░░░░░░░░░░░░
      ░█ ███░░░░░░░█ ███░░█ ███░░░░░░░░░░░░░░░█   ███░░ ███░░░░░█ ███░░█  ██████░░█ ███░░░░░░░░░░░░░
       ░█ ███░░░░░░░█ ███░░█ ███████████████░░░░░█   █████ ░░░░░░█ ███░░░█  █████░░█ ███████████████░
        ░█   ░░░░░░░░█   ░░░█               ░░░░░░░░█     ░░░░░░░░█   ░░░░░█     ░░░█               */

/* * * * * * * * * * * * * * 
 *
 * Loading icon
 *
 * * * * * * * * * * * * * */

.lblb-loading-icon {
  display: inline-block;
}

.lblb-loading-icon img {
  width: 2rem;
}












